* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body{
    margin: 0;
    padding-inline: 10px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 3rem;
    padding-top: 5rem;
}
